<%
  case task.priority
  when 1
    @color = "#67BA37"
  when 2
    @color = "#9DB1FF"
  when 3
    @color = "#FF3333"
  else
    @color = "#9DB1FF"
  end
%>

<div id="<%= task.id %>" class="task" style="border:1px solid <%= @color %>">
  <%= task.content %>
  <span class="right">
    <%= link_to 'Edit', edit_task_path(task), :remote => true %>
    <%= link_to 'X', task, :confirm => 'このタスクを削除しますか？', :method => :delete %>
  </span>
  <%= draggable_element "#{task.id}", :revert => false %>
</div>
