<h1>Listing tasks</h1>

<% @tasks.each do |task| %>
  <div id="<%= task.id %>" class="task">
    <%= task.content %><br />
    <%= link_to 'Show', task %>
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'X', task, :confirm => 'このタスクを削除しますか？', :method => :delete %>
    <%= draggable_element "#{task.id}", :revert => false %>
  </div>
  <br />
<% end %>

<br />

<%= link_to 'New Task', new_task_path %>
