<div id="item_form_block" class="forms">
  <%= render :partial => 'form' %>
</div>

<table id="board" class="board">
  <tr>
    <td colspan="2" id="doing" class="doing">
      <table>
        <tr><td>
            迷い中
        </td></tr>
      </table>
      <div id="doingCaption" class="boardCaption">
        <%= render :partial => 'task', :collection => @doingTasks %>
      </div>
    </td>
    <%= drop_receiving_element 'doingCaption', :url => {:action => 'change_status', :status => 'doing'} %>
  </tr>

  <tr>
    <td id="todo" class="todo">
      <table>
        <tr><td>
            完全にやる
        </td></tr>
      </table>
      <div id="todoCaption" class="boardCaption">
        <%= render :partial => 'task', :collection => @toDoTasks %>
      </div>
    </td>
    <%= drop_receiving_element 'todoCaption', :url => {:action => 'change_status', :status => 'todo'} %>

    <td id="done" class="done">
      <table>
        <tr><td>
            完全にやらない
        </td></tr>
      </table>
      <div id="doneCaption" class="boardCaption">
        <%= render :partial => 'task', :collection => @doneTasks %>
      </div>
    </td>
    <%= drop_receiving_element 'doneCaption', :url => {:action => 'change_status', :status => 'done'} %>
  </tr>
</table>
