<h1>Listing tasks</h1>

<% @tasks.each do |task| %>
  <div id="<%= task.id %>" class="task">
    <%= task.content %><br />
    <%#= task.status %>
    <%#= task.priority %>
    <%#= task.owner %>
    <%= link_to 'Show', task %>
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %>
  </div>
  <br />
<% end %>

<br />

<%= link_to 'New Task', new_task_path %>
